/* Animación fade-in */
.fade-in {
  opacity: 0;
  transform: translate3d(0, 20px, 0);
  transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

.fade-in.visible {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}