.blogContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 5vh;
  ;
}

.blogHeader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(25vh - 4rem);
  width: 100vw;
  text-align: center;
  position: relative;
  color: #fff;
  padding: 2rem;
  background-size: cover;
  background-position: center;
  z-index: 1;
}

.blogHeader-title {
  font-size: 2rem;
  font-weight: 600;
  margin: 0.25rem;
  line-height: 1;
  z-index: 2;
  position: relative;
}

.blogHeader-subtitle {
  font-size: 1rem;
  font-weight: 300;
  margin: 0.25rem;
  line-height: 1;
  z-index: 2;
  position: relative;
}

.postsContainer {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.postCard {
  width: 400px;
  height: 200px;
  padding: 20px;
  border-radius: 8px;
  background-color: #f9f9f9;
  text-align: center;
  text-decoration: none;
}

.postCard:hover {
  background-color: rgba(0, 188, 212, 0.7);
}

.postCard:hover h3,
.postCard:hover .postAuthor,
.postCard:hover .postDate,
.postCard:hover .postDescription {
  color: #f9f9f9; 
}

.postCard h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: #333;
}

.postAuthor {
  font-size: 0.8rem;
  color: #555;
}

.postDate {
  font-size: 0.9rem;
  color: #444;
}

.postDescription {
  font-size: 1rem;
  color: #333;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
}

.pagination button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: transparent;
  color: #f9f9f9;
  border: transparent;
  border-radius: 50%;
}

.pagination button:hover {
  background-color: rgba(0, 188, 212, 0.7);
}

.pagination button:disabled {
  cursor: not-allowed;
}

.pagination button:disabled:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

.pagination span {
  font-size: 16px;
}

@media (max-width: 480px) {
  .postCard {
    width: 100%;
    max-width: 350px;
    height: 200px;
  }
}